@keyframes horizontal-shaking {
 0% { transform: translateY(0) }
 25% { transform: translateY(15px) }
 50% { transform: translateY(-15px) }
 75% { transform: translateY(15px) }
 100% { transform: translateY(0) }
}
#devansh{
    position:absolute;
    top: 140px;
    left: 50px;
    animation: horizontal-shaking 2s infinite;
}